.home-main{
    height: 200vh;
    background-color: #000;
    color: #fff;
}
.home-main-courosel{
    padding-top: 20px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.courosel{
    height: 80vh;
    width: 100vw;
    background-color: #fff;
}
.home-main-marque{
    width: 100%;
    height: 50px;
    background: #fff;
    margin-top: 5px;
}
.marque{
    display: flex;

}
.marque-title{
    padding: 10px;
    color: green;
    width: 10%;
    font-size: 20px;
    font-weight: 700;
    border-right: 2px solid green;
}
.marque-body{
    padding: 10px;
    width: 80%;
    font-size: 20px;
    
}
.marque-more{
    padding: 10px;
    color: green;
    width: 10%;
    font-size: 20px;
    font-weight: 700;
    border-left: 2px solid green;
}
.home-main-article{
    padding-top: 20px;
    width: 100%;
    height: 80vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.article{
    width: 60%;
    padding: 20px;
}
.authors{
    width: 40%;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.author{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.article-heading{
    color: green;
    font-size: 28px;
    font-weight: 700;
}
.article-body{
    font-size: 18px;
    font-weight: 500;
}
.article-button{
    margin-top: 20px;
}
.article-button button{
    font-weight: 800;
    height: 40px;
    width: 100px;
    align-self: center;
}
.author-photo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
    /* background: #fff; */
}
.author-details{
    height: 100px;
    width: 70%;
    margin-left: 5px;
    border: 2px solid white;
    /* background: #fff; */
}
.contribute-article{
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    align-self: flex-end;
    justify-self: center;
    width: 90%;
    padding-top: 30px;
    margin: 20px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5%;
}